{% extends 'layout.html' %} {% block content %}
<main id="main">
  <h3 style="text-align:center">Welcome to CS235Flix, where you can watch movies as you want</h3>
  <h2 style="margin-top:20px">Browse</h2>
  <form method="GET" action="{{search_url}}">
  <h3 style="margin-top:50px">*Please separate actor names and genres by a comma*</h3>
    <br>

  <div class="form-field">
    <label for="movie_name">Title</label>
    <input id="movie_name" name="movie_name" placeholder="Title" type="text" value="">

    <label for="movie_director">Director</label>
    <input id="movie_director" name="movie_director" placeholder="Director" type="text" value="">

    <label for="movie_actors">Actors</label>
    <input id="movie_actors" name="movie_actors" placeholder="Angelina Jolie, Brad Pitt" type="text" value="">


    <label for="movie_genres">Genre</label>
    <input id="movie_genres" name="movie_genres" placeholder="Action, Mystery" type="text" value="">

    <label for="movie_year">Year</label>
    <input class="intarea" id="movie_year" name="movie_year" placeholder="Year" type="number" value="">
  </div>
    <input id="submit" name="submit" type="submit" value="Submit">
  </form>

<div class="search-btns">
  {% if first_movie_url is not none %}
  <button class="btn-prev" onclick="location.href='{{first_movie_url}}'">First</button>
  {% endif %}

  {% if prev_movie_url is not none %}
  <button class="btn-prev" onclick="location.href='{{prev_movie_url}}'">Prev</button>
  {% endif %}

  {% if last_movie_url is not none %}
  <button class="btn-next" onclick="location.href='{{last_movie_url}}'">Last</button>
  {% endif %}

  {% if next_movie_url is not none %}
  <button class="btn-next" onclick="location.href='{{next_movie_url}}'">Next</button>
  {% endif %}
</div>
  <div class="search-results">
  {% for movie in movies.keys()%}
  <div class="movie-search">
    <a href="{{movies[movie]}}">
      {% if movie.poster_link is none%}
      <img class="result-img" alt="{{movie.title}}" src="{{ url_for('static', filename='blankimg.jpg') }}">
      {% else %}
      <img class="result-img" alt="{{movie.title}}" src="{{movie.poster_link}}">
      {% endif %}
<h3>{{movie.title}}</h3>
    </a>
  <p>{{movie.description}}</p>
    </div>
{% endfor %}
</div>

  <div class="search-btns">
  {% if first_movie_url is not none %}
  <button class="btn-prev" onclick="location.href='{{first_movie_url}}'">First</button>
  {% endif %}

  {% if prev_movie_url is not none %}
  <button class="btn-prev" onclick="location.href='{{prev_movie_url}}'">Prev</button>
  {% endif %}

   {% if last_movie_url is not none %}
  <button class="btn-next" onclick="location.href='{{last_movie_url}}'">Last</button>
  {% endif %}

  {% if next_movie_url is not none %}
  <button class="btn-next" onclick="location.href='{{next_movie_url}}'">Next</button>
  {% endif %}


  </div>
</main>

{% endblock %}
