{% extends 'layout.html' %} {% block content %}
<main id="main">
  <h3 style="text-align:center">Welcome to CS235Flix, where you can watch movies as you want</h3>
  <h2 style="margin-top:20px">Browse</h2>
  <form method="GET" action="{{search_url}}">
  <h3 style="margin-top:50px">*Please search for a movie by movie name, actor name, director name, genre, separated by commas, uppercase or lowercase*</h3>
  <div class="form-field">
    <input id="search" name="search" required type="text" placeholder="Angelina Jolie, Action">
  </div>
    <button type="submit" class="search-btn">Search</button>
  </form>

<div class="search-btns">
  {% if first_movie_url is not none %}
  <button class="btn-prev" onclick="location.href='{{first_movie_url}}'">First</button>
  {% endif %}

  {% if prev_movie_url is not none %}
  <button class="btn-prev" onclick="location.href='{{prev_movie_url}}'">Prev</button>
  {% endif %}

  {% if last_movie_url is not none %}
  <button class="btn-next" onclick="location.href='{{last_movie_url}}'">Last</button>
  {% endif %}

  {% if next_movie_url is not none %}
  <button class="btn-next" onclick="location.href='{{next_movie_url}}'">Next</button>
  {% endif %}
</div>
  <div class="search-results">
  {% for movie in movies.keys()%}
  <div class="movie-search">
    <a href="{{movies[movie]}}">
      {% if movie.poster_link is none%}
      <img class="result-img" alt="{{movie.title}}" src="{{ url_for('static', filename='blankimg.jpg') }}">
      {% else %}
      <img class="result-img" alt="{{movie.title}}" src="{{movie.poster_link}}">
      {% endif %}
<h3>{{movie.title}}</h3>
    </a>
  <p>{{movie.description}}</p>
    </div>
{% endfor %}
</div>

  <div class="search-btns">
  {% if first_movie_url is not none %}
  <button class="btn-prev" onclick="location.href='{{first_movie_url}}'">First</button>
  {% endif %}

  {% if prev_movie_url is not none %}
  <button class="btn-prev" onclick="location.href='{{prev_movie_url}}'">Prev</button>
  {% endif %}

   {% if last_movie_url is not none %}
  <button class="btn-next" onclick="location.href='{{last_movie_url}}'">Last</button>
  {% endif %}

  {% if next_movie_url is not none %}
  <button class="btn-next" onclick="location.href='{{next_movie_url}}'">Next</button>
  {% endif %}


  </div>
</main>

{% endblock %}
