{% extends 'layout.html' %} {% block content %}
<main id="main">
  <h3 style="text-align:center">Welcome to CS235Flix, where you can watch movies as you want</h3>
  <p style="text-align: center">This page will display random movies that you can pick from</p>
<button class="btn-general" onclick="location.href='{{refresh_url}}'">Refresh page to change random movies</button>
{% for movie in movies.keys()%}
  <div class="home-random-movies">
    <a href="{{movies[movie]}}">
      {% if movie.poster_link is none%}
      <img class="result-img" alt="{{movie.title}}" src="{{ url_for('static', filename='blankimg.jpg') }}">
      {% else %}
      <img alt="{{movie.title}}" src="{{movie.poster_link}}">
      {% endif %}
<h2>{{movie.title}}</h2>
      </a>
  <p>{{movie.description}}</p>
    </div>
{% endfor %}
</main>

{% endblock %}
