{% extends 'layout.html' %} {% block content %}
<main id="main">
  <h3 style="text-align:center">Welcome to CS235Flix, where you can watch movies as you want</h3>
  <p style="text-align: center">This page will display random movies that you can pick from</p>
<button class="btn-general" onclick="location.href='{{refresh_url}}'">Refresh page to change random movies</button>
{% for key in movies.keys()%}
  <div class="movie">
    <a href="{{movies[key]}}">
    <img alt="{{key.title}}" src="{{key.poster_link}}">
<h3>{{key.title}}</h3>
      </a>
  <p>{{key.description}}</p>
    </div>
{% endfor %}
</main>

{% endblock %}
